@font-face {
    font-family: 'Baton Turbo';
    src: url('./fonts/BatonTurboWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Baton Turbo';
    src: url('./fonts/BatonTurboWeb-Medium.woff') format('woff');
    font-weight: bold;
    font-style: bold;
  }
  
  body {
    margin: 0px;
}

.purple-box {
    background-color: #9630FF;
    padding: 3px 3px;
    border-radius: 3px;
}

.blue-box > p {
    padding-left: 5px;
    padding-right: 5px;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.stroked-text {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }